header {
  text-align: center;
  padding-top: 57px;
  margin-bottom: 42px;
}

/* Utilities */

.white {
  color: white;
}

.light-grey {
  background-color: #f8f9fa;
}

.grey {
  background-color: #6c757d;
}

.blue {
  background-color: #0d6efd;
}

.green {
  background-color: #198754;
}

.red {
  background-color: #dc3545;
}

.light-blue {
  background-color: #0dcaf0;
}

.yellow {
  background-color: #0dcaf0;
}

.anthracyte {
  background-color: #212529;
}

/* DEBUG */

.debug ⌃col {
  padding: 0 44px;
}
